//When editing this make sure to check the products page that it doesnt get jacked up!

.flex-row {
  display: flex;
  //display: -webkit-flex;
  flex-direction: column;
}

.flex-row-md {
  @include breakpoint(tablet){
    flex-direction: row;
    flex-wrap: wrap;
    //-webkit-flex-wrap: wrap;
  }
}

.flex-row-md {
    flex-direction: row;
    flex-wrap: wrap;
}

.flex-xs {
  position: relative;
  flex: 1 0;
  max-width: 100%;
  min-height: 1px;
}

.flex-sm-4{
  @include breakpoint(tablet){
    flex: 1 0 50%;
    //-webkit-flex: 1 0 50%;
  }
}

.flex-md-6{
  @include breakpoint(laptop){
    flex: 1 0 33.333333%;
    //-webkit-flex: 1 0 33.333333%;
  }
}