/* ----------------------------------------------------------------------------
 * Structure
 * ------------------------------------------------------------------------- */
$line-height-mobile: 2.4rem;
$line-height-desktop: 2rem;
$half-line-height: #{$line-height-mobile / 2rem}rem;

.insta-modal__open{
  position: fixed;
  bottom:0;
}

.insta-modal__nav-active{
  -webkit-transform: translateY(0) !important;
  transform: translateY(0) !important;
}

// fix for nav on safari
.eltdf-page-header .eltdf-sticky-header.header-appear{
  @include transform(translateY(0));
}