.et-btn{
  padding: 1px 25px;
  cursor: pointer;
  background-color: $pink !important;
  min-width: 158px;
  font-size: .8em;
  line-height: 3.5em;
  @include transition(color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out);

  &:after{
    content: '';
    width: 29px;
    height: 28px;
    background-color: $pink;
    position: absolute;
    top: 7px;
    right: -15px;
    display: block;
    @include transform(rotate(45deg));
    @include transition(color .15s ease-in-out, background-color .15s ease-in-out,border-color .15s ease-in-out);
  }

  &:hover {
    color: $white;
    background-color: $dark-blue !important;
    &:after {
      background-color: $dark-blue;
    }
  }
}

.et-btn-round,
.et-btn-round-vc{
  border: 3px solid $dark-blue;
  border-radius: 50px;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  font-weight: 600;
  padding: 15px 40px;
  max-width: 125px;
  cursor: pointer;
  @include transition(color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out);

  &:hover{
    color:$white;
    background: $dark-blue;
  }

  &.eltdf-btn.eltdf-btn-outline{
    border: 3px solid $dark-blue;
    color: $dark-blue;
    margin: 0 auto;
    line-height: 16px;
    letter-spacing: 0;
    max-width: 250px;
    font-weight: bold;
    padding: 16px 33px;
    display: block;
    text-align: center;

    &:hover{
      border-color: $dark-blue !important;
      color:$white;
      background: $dark-blue !important;
    }
  }
}

.et-outline__black{
  color: #000 !important;
  border: 3px solid #000 !important;
  &:hover{
    color: $pink !important;
    border: 3px solid $pink !important;
    background: #fff !important;
  }
}

.et-btn-large {
  font-size: .9em;

  &:after{
    width: 32px;
    height: 32px;
    position: absolute;
    top: 7px;
    right: -16px;
  }
}

.et-btn-blue {
  background-color: $blue !important;
  color: $dark-blue !important;

  &:after{
    background-color: $blue;
  }

  &:hover {
    &:after {
      color: $cinn;
      background-color: $gold;
    }
  }
}

.et-btn-dk-blue {
  background-color: transparent;
  color: $dark-blue;

  &:after{
    background-color: #5D6F80;
  }

  &:hover {

    background-color: $dark-blue;
    border-color: $dark-blue;

    &:after {
      background-color: $dark-blue;
    }
  }
}

.et-btn-pink {
  background-color: $pink !important;
  color: $white !important;

  &:after{
    background-color: $pink;
  }

  &:hover {
    &:after {
      background-color: $gold;
    }
  }
}

.et-btn-dk-grey {
  background-color: transparent;
  color: $dark-blue;

  &:after{
    background-color: $brown-grey;
  }

  &:hover {
    color: $white;
    background: $brown-grey;
    border-color:$brown-grey;

    &:after {
      background-color: $dark-grey-hover;
    }
  }
}

.et-btn-dk-red {
  background-color: transparent;
  color: $dark-blue;

  &:after{
    background-color: $cinn-dark;
  }

  &:hover {

    background-color: $dark-red;
    border-color: $dark-red;

    &:after {
      background-color: $dark-red;
    }
  }
}

.et2017-more-link{

  .eltdf-btn.eltdf-btn-solid{
    color: $dark-blue;
    background-color: transparent;
    border: 3px solid $dark-blue;
    border-radius: 25px;
    margin: 5px 0 15px;

    &:hover{
      background-color: $dark-blue !important;
      border-color: $dark-blue !important;
      color: $white !important;
    }

  }

}